.header-container div{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.header-container a{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
}
h1{
    font-size: 48px;
    text-transform: uppercase;
}
p{
    font-size: 24px;
}
